<div class="container">
	<h1>Our Convenors</h1>
	<div class="developers">
		<div class="developer-card">
			<div class="developer-image">
				<img src="images/con1.png" alt="Developer's Image" />
			</div>
			<div class="developer-info">
				<h2>Kondapalli Abhiram</h2>
				<p>SRMIST (2020 - 2024)</p>
				<p>Connect with me on:</p>
				<p>abhiramkondapalli4449@gmail.com</p>
				<a
					href="https://www.instagram.com/_always_abhiram__/"
					target="_blank"
				>Instagram</a><br />
				<a
					href="https://www.linkedin.com/in/kondapalliabhiram?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0LxT58FASiW0kWBS6FryfA%3D%3D"
					target="_blank"
				>LinkedIn</a><br />
			</div>
		</div>
		<div class="developer-card">
			<div class="developer-image">
				<img src="images/con2.png" alt="Developer's Image" />
			</div>
			<div class="developer-info">
				<h2>Siddharth S</h2>
				<p>SRMIST (2020 - 2024)</p>
				<p>Connect with me on:</p>
				<p>siddharthsridharan4468@gmail.com</p>
				<a
					href="https://www.instagram.com/sidsridharan/"
					target="_blank"
				>Instagram</a><br />
				<a
					href="https://www.linkedin.com/in/siddharth-s-7165ab220?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3fQ8MdiZRaOMT8tu%2BYMinQ%3D%3D"
					target="_blank"
				>LinkedIn</a><br />
			</div>
		</div>
	</div>
</div>