<div class="container">
	<h1>User Guide</h1>
	<h2>Welcome to the Movies and Dramatics Club!</h2>
	<p>This guide will help you navigate through the various aspects of our club
		and make the most of your membership. Here are the key points to get you
		started:</p>
	<h2>Joining the Club</h2>
	<p>To join the club, visit our
		<a href="/join">Why Join Us?</a>
		page for details on how to become a member. You can fill out the
		registration form available online or contact us directly during our
		recruitment drives.</p>
	<h2>Participation in Events</h2>
	<p>We organize various events, including acting workshops, stage productions,
		and social gatherings. Keep an eye on the
		<a href="/update">Latest Updates</a>
		page to stay informed about upcoming events. Members are encouraged to
		participate actively and contribute their talents.</p>
	<h2>Workshops and Trainings</h2>
	<p>Regular workshops and training sessions are held to help members improve
		their skills. These sessions cover various aspects of the performing arts,
		from acting techniques to stage management. Check the
		<a href="/activities">Activities</a>
		page for more information.</p>
	<h2>Roles and Responsibilities</h2>
	<p>Our club thrives on teamwork and collaboration. Members can take on various
		roles, such as actors, directors, stage managers, and more. If you have a
		specific interest or talent, let us know so we can assign you a role that
		suits you best.</p>
	<h2>Code of Conduct</h2>
	<p>We expect all members to maintain a respectful and supportive environment.
		Any form of discrimination, harassment, or unprofessional behavior will not
		be tolerated. Adherence to these principles ensures a positive experience
		for everyone involved.</p>
	<h2>Resources</h2>
	<p>Our club provides a variety of resources, including scripts, production
		guides, and mentorship programs. Visit the
		<a href="resources">Resources</a>
		page for more details on how to access these materials.</p>
	<h2>Contact Information</h2>
	<p>If you have any questions or need further assistance, feel free to reach
		out to us. Our contact details are available on the
		<a href="/contact">Contact</a>
		page. We are here to help you make the most of your time with the Movies and
		Dramatics Club.</p>
</div>