<div class="container">
	<h1>Our Mission</h1>
	<p>
		At the Movies and Dramatics Club, our mission is to foster a love for the
		performing arts within the SRM University community. We aim to:
	</p>
	<ul>
		<li>Discover and nurture the innate artistic talents among our students.</li>
		<li>Provide opportunities for talented individuals to showcase their skills
			and creativity.</li>
		<li>Foster the development of essential skills such as communication,
			teamwork, dialogue, and socialization through the performing arts.</li>
		<li>Promote cultural and artistic awareness through diverse performances and
			events.</li>
		<li>Create a supportive and inclusive environment where all members can
			thrive and grow as artists.</li>
	</ul>
	<p>
		We believe in the transformative power of the arts and strive to make a
		positive impact on our members and the wider community through our
		activities and performances.
	</p>
</div>