<div class="container">
	<h1>Latest Updates</h1>
	<h2 class="highlight">Celebrating 10 Years of Excellence!</h2>
	<p>
		We are thrilled to announce that the Movies and Dramatics Club of SRM
		University is now 10 years old! Over the past decade, we have grown from a
		small group of passionate individuals to a vibrant community that celebrates
		the performing arts in all its forms.
	</p>
	<h3>Get Involved</h3>
	<p>
		We are always looking for new members who share our passion for the
		performing arts. Whether you want to act, direct, write, or assist behind
		the scenes, there is a place for you in the Movies and Dramatics Club. Come
		join us and be part of something special!
	</p>
	<p>
		For more updates, follow us on
		<a href="https://www.instagram.com/srm.moviesanddramatics.club/?hl=en"><i
				class="fab fa-instagram"
			></i>
			Instagram</a>
		and
		<a href="https://www.youtube.com/@SRMMoviesanddramatics"><i
				class="fab fa-youtube"
			></i>
			YouTube</a>.
	</p>
</div>